<div id="navbar"></div>
<div id="main"></div>


<script>

$(document).ready(function(){
  CapstoneProject.initialize();
});
  $(function () {
    CapstoneProject.CURRENT_USER = {
      id: "<%= current_user.id %>",
      name: "<%= current_user.name %>",
      email: "<%= current_user.email %>",
      description: "<%= current_user.description %>"
    };

  });
</script>
