<div class="sign-in-page">
  <div class="sign-up-header">
    indieVanGoghGogh
  </div>
<div class="sign-in-form">
  <div class="errors">
    <%= render "layouts/errors" %>
  </div>
  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>
  <ul class="sign-in-list">
    <li><input class="sign-in email list-group-item" type="text" name="user[email]" value="" placeholder="Email"></li>
    <li><input type="password" class="sign-in password list-group-item" name="user[password]" value="" placeholder="Password"></li>
  </ul>

  <input class="sign-in-button btn submit" type="submit" value="Sign in">

  <%= link_to "Sign Up", new_user_url %>
  <button class="sign-in-button guest btn" type="" value="">Sign in as a Guest</button>
  </form>
</div>
</div>
<script type="text/javascript" charset="utf-8">
  $(".sign-in-button.guest").on("click", function(event) {
    event.preventDefault();
    $(".email").val("vincent@vangogh.com");
    $(".password").val("password");
    $(".submit").click();
  });
</script>
<script type="text/javascript" charset="utf-8">
  $(".sign-in-button.sign-up").on("click", function(event) {

  });
</script>
