<div class="sign-in-page">

<div class="sign-in-form">
  <div class="errors">
    <%= render "layouts/errors" %>
  </div>
  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>
  <input class="form-control" type="text" name="user[email]" value="" placeholder="Email">
  <input type="password" class="form-control" name="user[password]" value="" placeholder="Password"><br>
  <input class="sign-in-button btn " type="submit" value="Sign in">
  <input class="sign-in-button guest btn " type="submit" value="Sign in as a Guest">
  </form>
</div>
</div>
