<div class="m-background"></div>

<div class="m-content">
  <form>
    <button class="close">&times;</button>
    <div class="errors-div hidden">
      <div class="alert alert-danger" role="alert">
        <div class="errors-glyph">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
        </div>
        <div class="errors-list">
        </div>
    </div>
  </div>
    <label patron-form-label>Name
    <input class="form-control name-field" type="text" name="name" value="<%= user.escape("name")%>">
    </label>
    <label>Description
    <input class="amount-field form-control" type="text" name="description" value="<%= user.escape("description")%>">
  </label>
    <label>Profile Picture
      <input type="file" name="image_url" class="upload" value="">
    </label>
    <label>Goal
      <input class="amount-field form-control" type="text" name="goal" value="<%= user.escape("goal")%>">
    </label>

    <input type="submit" class="" value="Update Info">
  </form>
</div>
