<div class="patron category-item">
  <li class="list-group-item patron" data-id="<%=patron.id%>">
      <div class="patron-name">
        <%=patron.escape("name")%>
      </div>
    <div class="patron-amount">$<%=patron.escape("amount")%></div></li>

</div>
