<div class="m-background"></div>

<div class="m-content patron">
  <form class="patron-popup-form">
    <button class="close">&times;</button>
    <div class="alert alert-success hidden" role="alert">
    Thank you for your donation.</div>
    <input type="hidden" name="artist_id" value="<%=artist.id%>">
    <div class="errors-div hidden">
      <div class="alert alert-danger" role="alert">
        <div class="errors-glyph">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
        </div>
        <div class="errors-list">
        </div>
    </div>
  </div>
    <label patron-form-label>Name
    <input class="form-control name-field" type="text" name="name" value="">
    </label><br>
    <label>Amount
    <input class="amount-field form-control" type="text" name="amount">
  </label><br>
  <div class="">
    Do you want your donation to <%=artist.escape("name")%> to be anonymous?</h4><br>
      <input type="checkbox" name="anonymous" value="true" id="anonymous_true">
      <label for="anonymous_true">Yes</label><br>
  </div>

    <input type="submit" class="become-patron btn btn-primary" value="Become Patron!">
  </form>
</div>
