<form class="art-form" action="index.html" method="post">
  <label>Title
  <input type="text" name="art[title]" value="">
  </label>
  <label>Description
  <input type="text" name="art[title]" value="">
  </label>
  <label>Image
  <input type="text" name="art[title]" value="">
  </label>
  <button class="submit-form">Add this Artwork</button>
</form>
