<form class="art-form" action="index.html" method="post">
  <label>Title
  <input type="text" name="art[title]" value="">
  </label>
  <label>Description
  <input type="text" name="art[title]" value="">
  </label>
  <label>Image
  <button name="art[image_file_name]" class="upload">Upload artwork</button>
  </label>
  <input type="submit" name="name" value="Add this Artwork">
</form>
