<div class="art">
  <div class="art thumb container">
      <a class="thumbnail" href="#">
            <img class="img-responsive" src="<%=art.escape("image_file_name")%>" alt="">
      </a>
  </div>
</div>
