
  <div class="thumbnail">
    <img class="img-responsive" src="<%=art.escape("thumbnail_image")%>" alt="">
  </div>
  <div class="project-content">
    <div class="project-caption">
      <h4>Title: <a class="art-item"><%=art.escape("title")%></a></h4>
      <div class="project-description">
        <p><h6>Description: <%=art.escape("description")%></h6></p>
      </div>
      <h5><a href="#users/<%=art.escape("artist_id")%>">Go to this Artist's Page</a></h5>
    </div>
  </div>
