<div class="container-fluid create-outer">


<form class="art-form" action="index.html" method="post">
  <div class="upper">
    <div class="new-project">
      <h2>I want to create a <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category <span class="caret"></span>
    </button>
    <ul class="list-group dropdown-menu">
      <% categories.forEach(function (category) { %>
        <li class="art-form-category"><%=category.escape("name")%></li>
    <% }) %>
    </ul>
  </div>  piece called </h2>
  <p>
    <input type="text" class="art-title" name="title" value="" placeholder="Title...">
  </p>
    </div>
    </div>

  <div class="lower">
    <div class="form-group">
    <label>Add a description
    <input type="text" class="form-control" name="description" value="">
    </label>
    </div>
    <div class="form-group">
    <label>Image
    <input type="file"  name="image_file_name" class="upload">Upload artwork</button>
    </label>
    </div>
    <input type="submit" name="name" value="Add this Artwork">
  </div>
</form>
</div>
