
  <div class="thumbnail">
    <img class="img-responsive" src="<%=art.escape("thumbnail_image")%>" alt="">
  </div>
  <div class="project-content">
    <div class="project-caption">
      <h4><a class="art-item"><%=art.escape("cropped_title")%></a></h4>
      <h6>By <%=artist.escape("name")%></a></h6>
      <div class="project-description art-description">
        <p class="project-description-padding"><%=art.escape("cropped_description")%></p>
      </div>
      <button type="button" class="btn btn-primary art-explore-button" name="button">Go to this Artist's Page</a></button>
    </div>
  </div>
