
  <div class="gallery-item-and-description">
    <div class="thumbnail-gallery-artist-show">
        <div class="">
          <a class="thumbnail" href="#" name="<%=art.id%>">
                <img class="img-responsive" src="<%=art.escape("thumbnail_image")%>" alt="">
          </a>
        </div>
    </div>
    <div class="description-for-gallery">
              <h3>Project One</h3>
              <h4>Subheading</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
    </div>
  </div>
