<div class="container-fluid create-outer">



  <div class="upper">
      <div class="new-project">
        <h2 class="main-title">I want to create a <div class="btn-group">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle override-bootstrap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <ul class="list-group dropdown-menu">
        <% categories.slice(1).forEach(function (category) { %>
          <li class="art-form-category" data-id="<%=category.id%>" category-name="<%=category.escape("name")%>"><%=category.escape("name")%></li>
      <% }) %>
      </ul>
    </div>  piece called </h2>
    <p class="title">
      <input type="text" id="title-input" class="art-title" placeholder="Title...">
    </p>
      </div>
    </div>
    </div>
    <div class="errors-div hidden">
      <div class="alert alert-danger" role="alert">
        <div class="errors-glyph">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
        </div>
        <div class="errors-list">
        </div>
    </div>
</div>

    <div class="lower-border">
  <div class="lower hidden container-fluid">
      <form class="art-form container-fluid" action="index.html" method="post">
        <div class="description-file-upload-wrapper  container-fluid">
          <div class="description-box col-md-6">
            <div class="description-box-wrapper">
              <div class="description-box-label override-something">
                Description
              </div>
              <label>
              <textarea name="description" class="textarea form-control" rows="6" cols="60" placeholder="Add a description of your art work."></textarea>
              </label>
            </div>
          </div>
          <div class="description-box file-upload col-md-5">
            <div class="description-box-wrapper">
              <label class="upload-label">
                <div class="description-box-label">
                  Upload your artwork
                </div>
                <div class="upload-button center-under">
                  <input type="file" class="upload"/>
                  <img src="<%= art.escape("image_file_name") %>">
                </div>
              <!-- <input type="file" name="image_file_name" class="file-upload upload"> -->
              </label>
            </div>

          </div>
          <div class="description-box-wrapper col-md-offset-2 submit-div">
            <div class="description-box-label">
            </div>
            <div class="submit-artwork-div">
              <input class="submit-artwork btn btn-default" type="submit" name="name" value="Submit">
            </div>
          </div>
        </div>

      </form>
</div>
</div>
