<div class="container">


<form class="art-form" action="index.html" method="post">

  <div class="form-group">
  <label>Title
  <input type="text" class="form-control" name="title" value="">
  </label>
  </div>
  <div class="form-group">
  <label>Description
  <input type="text" class="form-control" name="description" value="">
  </label>
  </div>
  <div class="form-group">
  <label>Image
  <input type="file"  name="image_file_name" class="upload">Upload artwork</button>
  </label>
  </div>
  <input type="submit" name="name" value="Add this Artwork">
</form>
</div>
