<div class="container-fluid create-outer">



  <div class="upper">
      <div class="new-project">
        <h2 class="main-title">I want to create a <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle override-bootstrap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <ul class="list-group dropdown-menu">
        <% categories.slice(1).forEach(function (category) { %>
          <li class="art-form-category" data-id="<%=category.id%>" category-name="<%=category.escape("name")%>"><%=category.escape("name")%></li>
      <% }) %>
      </ul>
    </div>  piece called </h2>
    <p class="title">
      <input type="text" id="title-input" class="art-title" placeholder="Title...">
    </p>
      </div>
    </div>
    </div>
    <div class="lower-border">
  <div class="lower hidden">
      <form class="art-form" action="index.html" method="post">
        <div class="description-file-upload-wrapper col-md-6">
          <div class="description-box">
            <div class="description-box-wrapper">
              <div class="description-box-label override-something">
                Description:
              </div>
              <label>
              <textarea name="description" class="textarea" rows="3" cols="30" placeholder="Add a description of your art work."></textarea>
              </label>
            </div>
          </div>
          <div class="description-box">
            <div class="description-box-wrapper">
              <label class="upload-label">
                <div class="description-box-label">
                  Upload your artwork:
                </div>
                <button class="upload">Upload a Photo</button>
                <img src="<%= this.model.get("url") %>">
              <!-- <input type="file" name="image_file_name" class="file-upload upload"> -->
              </label>
            </div>

          </div>
        </div>
        <div class="col-md-5 submit-div">
          <input class="submit-artwork" type="submit" name="name" value="Add Artwork!">
        </div>
      </form>
</div>
</div>
