<div class="container-fluid">
  <div class="row">
    <div class="main-image col-md-6">
      <img src="/../assets/rothko-test.jpg" alt="" />
    </div>

    <div class="picture-info col-md-3">
      <p>
        asdfsdfasdfs
      </p>
    </div>
  </div>
</div>


    <div class="arts col-md-8">


</div>
