

    <div class="main-image artist-show">
      <img src="/../assets/rothko-test.jpg" alt="" />
      <div class="arts">


      </div>
    </div>

    <div class="picture-info artist-show">
      <p>
        asdfsdfasdfs
      </p>
    </div>

    
