

    <div class="main-image col-md-6">
      <img src="/../assets/rothko-test.jpg" alt="" />
    </div>

    <div class="picture-info col-md-2">
      <p>
        asdfsdfasdfs
      </p>
    </div>



<div class="arts col-md-8">


</div>
