<div class="container">

<div class="row">

<div class="col-md-8">
<h2><%=artist.escape('name')%></h2>

<div class="container">
  <div class="row">
<div class="col-lg-12">
    <h1 class="page-header">Gallery</h1>
</div>
<div class="arts">

</div>
</div>
</div>
</div>
</div>
</div>
