<div class="item active">
  <img data-src="holder.js/900x500/auto/#777:#555/text:First slide" alt="First slide">
  <div class="carousel-caption">
    <h3>First slide label</h3>
    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
  </div>
</div>
