<style>
  .modal.modal-fullscreen .modal-content {
    background: rgba(0, 0, 0, .5);
  }
  .modal.modal-fullscreen .modal-header {
    border: 0;
    color: #fff;
  }
  .modal.modal-fullscreen .modal-footer {
    border-color: rgba(0, 0, 0, .5);
  }
</style>


<div id="myCarousel" class="carousel slide carousel-fit" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner gallery-index">
    <div class="item active">
      <img src="http://www.johncostanza.com/images/painting_tree.2.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-fullscreen force-fullscreen" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn close btn-primary pull-right" type="button" data-dismiss="modal" aria-hidden="true">
          <span class="glyphicon glyphicon-remove"></span>
          <span>Close</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
