<div class="m-background"></div>

<div class="m-content">
  <form>
    <button class="close">&times;</button>

    <input class="text-field" type="text" name="tweet[body]">

    <input type="submit" class="btn btn-primary" value="Create Tweet!">
  </form>
</div>
