
  <div class="thumbnail">
    <img src="/../assets/starry-2.jpg" alt="">
  </div>
  <div class="project-content">
    <div class="project-caption">
      <h4><a href="#users/<%=artist.id%>">Vincent Van Gogh</a></h4>
  </div>
  <div class="project-description">
    <p>I'm a painter, love painting natural things with bright colors.</p>
  </div>
  <div>
    <button type="" name="button" class="btn btn-primary gallery-button">View Artist Gallery</button>
  </div>
  </div>
