<div class="container">

<div class="row">

<div class="col-md-8">
<h2><%=artist.escape('name')%></h2>
<div class="">
  <h2 class="pull-right"><%=artist.escape('description')%></h2>
</div>
<div class="artist">


</div>
</div>
</div>
</div>
