<div class="thumbnail">
  <img src="http://placehold.it/320x150" alt="">
  <div class="caption">
    <h4 class="pull-right"><a href="#">View <%=artist.escape("name")%>'s Work</a></h4>
    <h4><a href="#api/users/<%=artist.id%>"><%= artist.escape("name") %></a></h4>
  </div>
</div>
