
<div class="test-artist-show">
  <div class="test-footer-toggles-right funding-info">

</div>
 <div class="test-header">
   <div class="test-image-and-name">
     <div class="test-image">
       <img src="<%=artist.escape("profile_picture")%>" alt="" />
     </div>
     <div class="test-name">
       <h4><%=artist.escape('name')%></h4>
     </div>
   </div>
   <div class="test-description">
     <div class="test-text">
       <%= artist.escape("description") %>
   </div>
   </div>
 </div>


 <div class="test-footer">
   <div class="test-footer-navbar">
       <div class="test-footer-toggles-left">
         <button type="button" class="btn toggle-button explore-gallery-button active">Gallery</button>
       </div>
       <div class="test-footer-toggles-left">
         <button type="button" class="btn toggle-button explore-patrons-button">Patrons</button>
       </div>
   </div>
   <div class="test-footer-content">
     <div class="test-footer-artist artist">


     </div>

 </div>



</div>
