<div class="sign-in-form-corner">
  <div class="errors">
    <%= render "layouts/errors" %>
  </div>
  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>
    <ul class="list-inline">
  <li><input class="form-control" type="text" name="user[email]" value="" placeholder="Email"></li>
  <li><input type="password" class="form-control" name="user[password]" value="" placeholder="Password"></li>
  <li><input class="sign-in-button btn " type="submit" value="Sign in"></li>
  <li><input class="sign-in-button guest btn " type="submit" value="Sign in as a Guest"></li>
  </ul>
  </form>
</div>
