
<div class="sign-in-page">
  <div class="sign-in-form">
    <div class="errors">
      <%= render "layouts/errors" %>
    </div>
    <form action="<%= users_url %>" method="post">
    <%= auth_token_input %>
      <input class="form-control" type="text" name="user[email]" value="" placeholder="Email">
      <input class="form-control" type="password" name="user[password]" value=""placeholder="Password">
      <input class="form-control" type="text" name="user[name]" value=""placeholder="Name"><br>
    <input class="sign-in-button btn " type="submit" value="Sign up">
  </form>
  </div>

</div>
