<div class="explore">
  <div class="button">
    <button class="explore-artists">Explore Artists</button>
    <button class="explore-arts">Explore Artwork</button>
  </div>
  <div class="container">
    <p class="lead">Categories</p>
    <div class="category-show">

    </div>
  <div class="categories col-md-3">
  </div>
  </div>
  <div class="explore container all-artists">
  </div>
</div>
