<div class="explore">


  <div class="container-fluid outer">


  <div class="row outer">
<div class="explore-center col-md-1">
  </div>
    <div class="categories col-md-2">

    </div>
    <div class="col-md-8 fixed-width">
        <div class="row after-category-show">

          <div class="col-md-12 category-show">
          </div>

          <div class="before-button-group">
            <div class="button toggle-buttons" role="group" aria-label="...">
                <button type="button" class="toggle-button btn btn-default explore-artists">Explore Artists</button>
                <button type="button" class="toggle-button btn btn-default explore-arts">Explore Artwork</button>
            </div>
          </div>
          <hr>
        </div>

        <div class="explore all-artists">
      </div>

    </div>



  </div>

</div>
</div>
</div>
