<div class="explore">

  <div class="container outer">


  <div class="row outer">

    <div class="categories col-md-3">

    </div>
    <div class="col-md-9">
        <div class="row after-category-show">

          <div class="col-md-12 category-show">
          </div>

        </div>
        <div class="before-button-group">
          <div class="button btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default explore-artists">Explore Artists</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default explore-arts">Explore Artwork</button>
            </div>
          </div>
        </div>
        <div class="explore all-artists">
      </div>

    </div>

    </div>

  </div>

</div>
</div>
