<div class="explore">
  <div class="button">
    <button class="explore-artists">Explore Artists</button>
    <button class="explore-arts">Explore Artwork</button>
  </div>
  <div class="container">


  <div class="row">
    <div class="categories col-md-3">

    </div>
    <div class="col-md-8">
        <div class="row after-category-show">

          <div class="col-md-12 category-show">
          </div>
        </div>
        <div class="explore all-artists">
      </div>

    </div>

    </div>

  </div>

</div>
</div>
