/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 // @import "font-awesome";
 .navbar-default {
   background-color: #292E37;
   border-color: #030033;
 }

 .categories{
   padding-right: 30px;
 }

.jumbotron .video{
  padding-right: 0px;
  padding-left: 0px;
}

.art .thumb {
  height: 175px;
  width: 275px;
}

a.thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.thumbnail {
  width: 175px;
  height: 275px;
  overflow: hidden;
}

img-responsive {
  transform: translateY(-50%);
}


div.thumbnail {
  width: 100%;
  overflow: hidden;
}

.after-category-show{
  padding-bottom: 15px;
}

.before-button-group{
  padding-bottom: 15px;
}


.post-content {
    top:0;
    left:0;
    position: absolute;
}

.thumbnail{
    position:relative;

}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: black;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
