/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-modal-carousel.min.css
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 // @import "font-awesome";
 .errors{
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
 }
 .sign-in-button{
   width: 100%;
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   border: 1px solid black;
 }

 .sign-in-button.guest{
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
 }
 .sign-in-form{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.0);
 }

 .sign-in-form-corner{
   position: absolute;
   top: 2%;
   right: 1%;
   background-color: rgba(0, 0, 0, 0.0);
 }

.sign-in-page{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("/../assets/picasso4.jpg");
  background-size:cover
}



html,
body,
#root{
  height: 100%;
}











// ul.nav.navbar-nav{
//   position: absolute;
//   left: 45%;
// }
.explore{
  padding-top: 15px;
}


.artist-description{
  font-size: 14px;
  font-weight: normal;
  padding-top: 40px;

  float: left;
  width: 50%;
  margin: 20px;
}


.artist-show > div{
  float: left;
  display: inline-block;
}

.artist-show{
  width: 100%;
  height: 275px;
  margin-left: 15%;
  margin-right: 100px;
  position: relative;

}
div.artist-show-buttons{
  width: 100%;
  height: 50px;
  margin-left: 15%;
  margin-right: 100px;
  position: relative;
}

div.artist-show-button{
  // width: inherit
  float: left;
  position: relative;

}

button.toggle-button.explore-gallery-button{
  width: 256px;
  float: left;
  display: inline-block;
}

button.toggle-button.explore-patrons-button{
  width: 256px;
  float: left;
  display: inline-block;
}
.artist-name-and-image{
  display: inline-block;
}

.patron-button{
  float: left;
  margin-left: 35px;
  // margin: 0px;
}

div.arts{
  width: 100%;
}

.art .thumb {
  height: 100px;
  width: 120px;
  float: left;
  display: inline-block;
}

a.thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
}

div.outer-artist{
  width: 100%;
  height: 500px;
  margin-left: 15%;
  margin-right: 100px;
  position: relative;
}


.artist.artist-show{
  width: 55%;
  height: 600px;
  position: relative;
  float: left;
  margin-right: 0px;
  margin-left: 0px;
}

.artist-show.main-image{
  float: left;
  width: 60%;
  margin: 0px;
}

.artist-show.picture-info{
  float: left;
  width: 20%;
  margin: 0px;
  padding-left: 30px;
}

.patron-list{
  float: left;
  width: 50%;
  margin: 0px;
}

.artist-show-outer{
  margin: 0 auto;
}

.fixed-width{
  width: inherit;
}

 .glyphicon-search {
     font-size: 20px;
     margin-top: 12px;
 }

 .navbar-form{
   display: none;
   position: absolute;
   right: 0px;
   top: 65px;
 }

 .glyph{
   padding-top: 5px;
   text-align: center;
   display: inline-block;
 }

 .hidden{
   display: none;
 }

 .modal-body{
   position: relative;
 }


 .carousel.carousel-fit{position:relative}.carousel.carousel-fit.slide{overflow:hidden}.carousel.carousel-fit .carousel-inner>.next,.carousel.carousel-fit .carousel-inner>.prev{bottom:0}.carousel.carousel-fit .carousel-inner>.item{text-align:center}.carousel.carousel-fit .carousel-inner>.item>img{display:inline-block}.carousel.carousel-fit .carousel-inner>.item>.carousel-caption{bottom:0;left:0;right:0}.modal.modal-fullscreen .modal-dialog,.modal.modal-fullscreen .modal-content{bottom:0;left:0;position:absolute;right:0;top:0}.modal.modal-fullscreen .modal-dialog{margin:0;width:100%}.modal.modal-fullscreen .modal-content{border:none;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:inherit;-moz-box-shadow:inherit;-o-box-shadow:inherit;box-shadow:inherit}.modal.modal-fullscreen.force-fullscreen .modal-body{padding:0}.modal.modal-fullscreen.force-fullscreen .modal-header,.modal.modal-fullscreen.force-fullscreen .modal-footer{left:0;position:absolute;right:0}.modal.modal-fullscreen.force-fullscreen .modal-header{top:0}.modal.modal-fullscreen.force-fullscreen .modal-footer{bottom:0}


 .categories{
   margin-right: 30px;
 }

 div.upper {
   text-align: center;
   background-color: white;
   width: 100%;
   font-size: 300px;
 }

 // .background-image{
 //   vertical-align: 0px;
 //   position: relative;
 //   z-index: 0;
 // }

 h2.main-title{
   font-size: 37px;
 }



 .create-outer {
   padding-left: 0px;
   padding-right: 0px;
 }

 .new-project {
   background-image: url("/assets/create-background.jpeg");
   position: relative;
   z-index: 2;
    margin: 0 auto;
    padding: 100px 0px 20px 0px;
    display: block;
    background-blend-mode: saturation;
    width: 960px;
    color: white;
    letter-spacing: 5px;
    font-weight: 500;
    text-shadow: 10px white;
    font-size: 48px;
    height: 400px;
  }

// .dropdown-toggle:hover{
//   // background-color: none;
//   background-color: rgba(255, 255, 255, 0.3);
//   background-blend-mode: saturation;
// }
.lower-border{
  border: 1px solid teal;
  width: 960px;
  position: relative;
  margin: 0 auto;
  height: 400px;

}

.lower {
  // font-family: verdana;
  width: 960px;
  font-size: 30px;
  font-weight: 300px;
  color: teal;
  background-color: white;
  margin: 0 auto;
}

.explore-center{
  margin: 0 auto;
}

.explore.all-artists{
  width: 795px;
}

.override-something{
  font-size: 30px;
  font-weight: 300px;

}


// .description-box{
//   border-radius: 5%;
//   padding: 10px;
//   display: inline-block;
//   // bottom: 60px;
//   // position: relative;
//
  .description-box-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .submit-artwork{
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .textarea {
    font-size: 20px;
    font-weight: normal;
  }


.submit-artwork{
  border-radius: 5%;
  background: teal;
  color: white;
  margin: 0 auto;
  padding: 20px;
}

.submit-div{
  margin-left: 60px;
  margin-top: 40px;
}

.art-form-category {
  color: white;;
  letter-spacing: 3px;
}

.art-title{
  font-size: 37px;
  box-shadow: none;
  height: 60px;
  margin-top: 45px;
  letter-spacing: 5px;
  width: 600px;
  font-weight: 400px;
  background-blend-mode: darken;
  color: white;
  padding: 5px;
  border-bottom: 3px solid white;
  background-color: rgba(0,0,0,0.0);
  border-top: none;
  border-right: none;
  border-left: none;
}

.navbar-default {
  margin-bottom: 0px;
}

.dropdown-toggle {
  // background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: saturation;
  border: none;
  box-shadow: rgba(0,0,0,0.25);
  border-color: #adadad;
  letter-spacing: 5px;
  font-weight: 800px;
  font-size: 28px;
  // background-blend-mode: darken;
  color: white;
  background-color: rgba(0,0,0,0.1);

}

label.upload-label{
  font-weight: normal;
}

input.file-upload{
  padding-top: 10px;
  font-size: 20px;
}

.dropdown-menu {
  border: none;
  box-shadow: none;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 300;
  background-blend-mode: darken;
  color: white;
  background-color: rgba(0,0,0,0.0);
}

.art-title::-webkit-input-placeholder  {
   color: white;
}

input:focus{
  outline: none;
}

button{
  outline: none;
}

div.btn-group.open:active{
  background-color: rgba(0,0,0,0.0);
  color:white;
}

.open > .btn-default.dropdown-toggle.override-bootstrap {
  font-weight: 900;
  font-size: 28px;
  background-color: rgba(0,0,0,0.0);
  box-shadow: rgba(0,0,0,0.25);
  color: white;
}

.dropdown-toggle:hover{
  // font-weight: 900;
  //   font-size: 28px;
  box-shadow: rgba(0,0,0,0.25);
  color: white;
  background-color: rgba(0,0,0,0.0);
}

.dropdown-toggle:focus{
  box-shadow: rgba(0,0,0,0.25);
  color:white;
  background-color: rgba(0,0,0,0.0);
}


// div{
//   padding: 0 0 0 0;
//   margin: 0 0 0 0;
// }


.jumbotron .video{
  padding-right: 0px;
  padding-left: 0px;
}



.toggle-buttons{
  min-width: 800px;
  margin-left: 15px;
}

button.toggle-button{
  background-color: white;
  color: teal;
  border-radius: 0px;
  border: 1px solid teal;
  font-size: 17px;
  width: 396px;
  display: inline-block;
  position: relative;
  float: left;
  outline: none;

}
button.toggle-button.active{
  color: white;
  background-color: teal;
  border-radius: 0px;
  border: 1px solid teal;
  font-size: 17px;
  width: 396px;
  display: inline-block;
  position: relative;
  float: left;
}

button.toggle-button.active:focus {outline:0;}



.artists .project-item:nth-child(3n+3){
  margin-right: 0px;
}

.project-item{
  display: inline-block;
  float: left;
  width: 222px;
  height: 422px;
  padding: 0 0 0 0;
  margin-right: 47px;
  margin-left: 15px;
  border: 1px solid black;
  margin-bottom: 30px;
}

button.gallery-button{
  margin-left: 40px;
  margin-top: 20px;
}
div.thumbnail {
  width: 220px;
  height: 180px;
  overflow: hidden;
  border: none;
  padding: 0 0 0 0;
  margin-bottom: 0px;
}

div.row.artists{
  min-width: 800px;
}

div.col-md-9{
  padding: 0 0 0 0;
}

.project-content{
  height: 200px;
  width: 220px;
}

.project-caption{
  padding-left: 5px;
}

.all-categories{
  padding-left: 30px;
}

a.category-item{
  font-size: 17px;
  color: black;
}
.project-description{
  padding-left: 7px;
  padding-right: 7px;
}


img-responsive {
  border: 0;
  transform: translateY(-50%);
}

.after-category-show{
  padding-bottom: 15px;
}

.before-button-group{
  padding-bottom: 15px;
}

.carousel-modal-button{
  z-index: 50;
}

.gallery-index{
  position: relative;
}

.post-content {
    top:0;
    left:0;
    position: absolute;
}

.thumbnail{
    position:relative;
}

.img-thumbnail-category-show{
  border: 0px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: black;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.btn-danger{
  z-index: 3;
  position: absolute;
  right: 2%;
  top: 2%;
}
.m-content {
  z-index: 2;
  position: absolute;
  // top: 25%;
  // left: 33%;

  height: inherit;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}




.picture-info{
  text-align: center;
}



.textarea:focus {outline:0;}
